---
import { Picture } from "@astrojs/image/components";

const { project } = Astro.props;
---

<script>
  import { scroll, animate } from "motion";

  const containerElements = Array.from(
    document.getElementsByClassName("container-js")
  );

  containerElements.forEach((containerElement) => {
    const progressElement = containerElement.querySelector(
      ".progress-js"
    ) as HTMLElement;

    scroll(animate(progressElement, { scaleX: [0, 1] }), {
      container: <HTMLElement>containerElement,
    });
  });

  (document.querySelector("body") as HTMLElement).addEventListener(
    "modal",
    async () => {
      containerElements.forEach((containerElement) => {
        containerElement.scrollTo(0, 0);
      });
    }
  );
</script>

<div class="relative w-full h-full">
  <Picture
    src={import(`../assets/img/${project.frontmatter.screenshot}.png`)}
    alt=""
    fit="cover"
    widths={[300, 800, 1024, 1400]} sizes="(max-width: 500px) 300px, (max-width: 800px) 800px, (max-width: 1024px) 1024px, 1400px"
    class="w-full h-full object-cover"
  />
  <div
    class="absolute w-full h-full top-0 left-0 p-6 overflow-scroll snap-mandatory snap-y container-js"
  >
    <div class="h-full flex justify-center items-center snap-center">
      <div
        class="rounded flex flex-col justify-center items-center bg-white max-w-lg w-full h-full max-h-36 p-4 opacity-90 hover:opacity-100 transition-all duration-700"
      >
        <h2 class="font-title text-4xl font-bold">
          {project.frontmatter.title}
        </h2>
        <aside class="text-xl my-2">{project.frontmatter.description}</aside>
      </div>
    </div>
    {
      project.frontmatter.contents.map(
        (content: { title: string; text: string }) => (
          <div class="h-full flex justify-center items-center snap-center">
            <div class="rounded flex flex-col justify-center items-center bg-white max-w-lg w-full opacity-90 hover:opacity-100 transition-all duration-700 p-4">
              <h2 class="font-title text-4xl font-bold">{content.title}</h2>
              <aside class="text-xl my-2" set:html={content.text} />
            </div>
          </div>
        )
      )
    }
    <div
      class="fixed left-0 right-0 h-2 bottom-6 scale-x-0 progress-js"
      style={`background-color : ${project.frontmatter.progress_color}`}
    >
    </div>
  </div>
</div>
