---
import ProjectCard from "./ProjectCard.astro";
import Modal from "./Modal.astro";
import Project from "./Project.astro";

const projects = await Astro.glob("../projects/*.mdx");

const leftProjects = projects.filter((project, index) => {
  if (index % 2 === 0) {
    return project;
  }

  return false;
});

const rightProjects = projects.filter((project, index) => {
  if (index % 2 !== 0) {
    return project;
  }

  return false;
});
---

<script>
  import { useProjectsAppear } from "../composables/projectsAppear";
  import { useModal } from "../composables/modal";

  await useProjectsAppear();
  useModal();
</script>

<div
  class="mt-12 md:mt-0 relative text-secondary md:overflow-y-auto md:scroll-smooth md:snap-mandatory md:snap-y scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-black"
>
  <div
    class="hidden md:block w-full h-32 bg-gradient-to-b from-black to-transparent fixed top-0 right-0 z-10"
  >
  </div>
  <div
    class="hidden md:block w-full h-32 bg-gradient-to-t from-black to-transparent fixed bottom-0 right-0 z-10"
  >
  </div>
  <div class="md:grid md:grid-cols-2 md:gap-12 md:items-start">
    <div class="md:grid md:grid-cols-1 md:gap-12" id="left-side">
      {
        leftProjects.map((project) => (
          <div
            class="snap-center translate-y-[30px] project-js"
            id={project.frontmatter.title}
          >
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
    <div class="md:mt-12 md:mt-0 md:grid md:grid-cols-1 md:mt-12 md:gap-12" id="right-side">
      {
        rightProjects.map((project) => (
          <div
            class="snap-center translate-y-[30px] project-js"
            id={project.frontmatter.title}
          >
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
  </div>
</div>
{
  leftProjects.map((project) => (
    <Modal targetId={project.frontmatter.title}>
      <Project project={project}></Project>
    </Modal>
  ))
}
{
  rightProjects.map((project) => (
    <Modal targetId={project.frontmatter.title}>
      <Project project={project}></Project>
    </Modal>
  ))
}
